[submodule "external/quantlib"]
	path = external/quantlib
	url = https://github.com/lballabio/QuantLib.git
[submodule "external/lean"]
	path = external/lean
	url = https://github.com/QuantConnect/Lean.git
